.container {
    max-width: 600px;
}

.btn {
    background: #490eb8;
    color: whitesmoke;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: none !important;
}